<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Swifty Bank{% endblock %}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/Landingbase.css">
    <link rel = "icon" type = "image/png" href = "../static/images/letter-s.png">
</head>
<body>

{% block navbar %}
    {% include 'includes/_navbar.html' %}
{% endblock %}

<div class="Loginform">
    {% block form %}
        {% include 'includes/_form.html' %}
    {% endblock %}
</div>

<div class="Content">
    {% block content %}
    <div class="container rounded" style="position: absolute;
                              top: 190px;
                              left: 100px;
                              background-color: white;
                              box-shadow: -2px 5px 5px rgba(0,0,0,0.9);
                              padding: 15px;
                              width: 350px;">
  <h1>Beware of scams!</h1>
  <p style=" font-size: medium;" >Swiss Personals will never ask you for your password.</p>
        <p style="font-size: medium;">If you do see any messages asking you for your password, please contact 123-4567-890 for further assistance.</p>
</div>
        <img src="../static/img/city-street.png" alt="Error!" width="100%" height="100%" style="overflow: hidden" position="absolute" top="0" left="0">
    {% endblock %}
</div>

</body>
</html>