{% extends "Landingbase.html" %}
{% block title %}Swifty Bank{% endblock %}


{% block content %}
<div class="container rounded" style="position: absolute;
                              top: 190px;
                              left: 100px;
                              background-color: white;
                              box-shadow: -2px 5px 5px rgba(0,0,0,0.9);
                              padding: 15px;
                              width: 350px;">
  <h1>*Un-crabs your stick*</h1>
  <p>This is some text.</p>
</div>

<img src="../static/images/park.jpg" alt="Error!" width="100%" height="100%" style="overflow: hidden">
{% endblock %}