{% extends "base.html" %}
{% block title %}Notes{% endblock %}

{% block content %}
<div class="container">
   <div class="row">
       <div class="col-lg-3 col-md-2"></div>
       <div class="col-lg-6 col-md-8 mt-4">
           <h3 class="mb-5">Update Notes</h3>
           <form class="row g-3 needs-validation shadow p-3 mb-5 bg-white rounded" method="POST" action="/update"
               novalidate>
               <div class="col-12">
                   {{ update_form.title.label() }}
                   {{ update_form.title(class='form-control form-control-user', placeholder='Enter Title') }}
               </div>
               <div class="col-12">
                   {{ update_form.description.label() }}
                   {{ update_form.description(class='form-control form-control-user', placeholder='Enter Description') }}
               </div>
               <div class="col-12">
                   {{ update_form.submit(class='btn btn-primary btn-user ') }}
               </div>
           </form>
       </div>
       <div class="col-lg-3 col-md-2"></div>
   </div>
</div>
{% endblock %}