<!-- As a heading -->
<head>
  <link rel="stylesheet" href="../static/css/navbar.css">
</head>
<nav class="navbar navbar-light bg-light" style="z-index: 999999;">
  <span class="navbar-brand.btn-lg mb-0 h1"><img src="../../static/img/Swiss_Logo.png" alt="IMG"
                                          width="150px" height="35px"></span>
<!--  <span class="navbar-brand ml-auto">-->
<!--   <button type="button" class="btn btn-info" style="font-family: Monospace">About Us</button>-->
<!--  </span>-->
</nav>